.barChart {
  width: 600px;
  height: auto;
  background: #fbfbfb;
  border-radius: 5px;
}

#tooltipBar,
#tooltipBarText,
#tooltipLine,
#tooltipLine span {
  top: 0;
  left: 0;
  user-select: none;
  position: absolute;
}

#tooltipBarText {
  background: #e60000;
  color: white;
  font-size: 7px;
  font-weight: 500;
  line-height: 24px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.lineChart {
  background: #ff0000;
}

#tooltipLine {
  user-select: none;
  pointer-events: none;
  display: contents;
}

#tooltipLine span {
  background: white;
  font-size: 7px;
  font-weight: 500;
  line-height: 20px;
  padding: 3px 6px;
}

.radarChart {
  background: #282d30;
}

.radialChart {
  background: #fbfbfb;
}

.lineChart,
.radarChart,
.radialChart {
  border-radius: 5px;
  height: 180px;
  width: 180px;
}

@media (min-width: 1440px) {
  .barChart {
    height: unset;
    width: unset;
  }

  #tooltipLine span {
    line-height: 24px;
    padding: 4px 8px;
  }

  .lineChart,
  .radarChart,
  .radialChart {
    height: unset;
    width: unset;
  }
}
