.barChart {
  background: #fbfbfb;
  border-radius: 5px;
}

#tooltipBar,
#tooltipBarText,
#tooltipLine,
#tooltipLine span {
  top: 0;
  left: 0;
  user-select: none;
  position: absolute;
}

#tooltipBarText {
  background: #e60000;
  color: white;
  font-size: 7px;
  font-weight: 500;
  line-height: 24px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.lineChart {
  background: #ff0000;
  border-radius: 5px;
}

#tooltipLine {
  user-select: none;
  pointer-events: none;
}

#tooltipLine span {
  background: white;
  font-size: 7px;
  font-weight: 500;
  line-height: 24px;
  padding: 4px 8px;
}

.radarChart {
  background: #282d30;
  border-radius: 5px;
}

.radialChart {
  background: #fbfbfb;
  border-radius: 5px;
}
